.header__content {
    height: 90px;
    @include flex ();
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;
    position: fixed;
    width: 1024px;
    z-index: 1;
    background: black;
}

.nav__link {
    color: white;
    margin-left: 32px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        border-bottom: 1px solid white;
        padding-bottom: 35px;
    }
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
}
