.header__content {
    @include flex ();
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    background: $black;
}

.nav__link {
    color: $white;
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        border-bottom: 1px solid $white;
    }

    &--bottom {
        margin-left: 0;
    }

}

.logo {
    height: 60px;
    width: 47px;
    background: url('../static/images/SVG/sprite.svg') no-repeat -1px -1px;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {

    .header__content {
        width: 100%;
    }

    .logo {
        height: 46px;
        width: 36px;
        background: url('../static/images/SVG/sprite.svg') no-repeat -51px -1px;
    }

    .nav {

        &--bottom {
            margin-bottom: 20px;
        }
    }

    .nav__link { 
        margin-left: 25px;
        
        &--bottom {
            margin-left: 0;
        }
    }

}

/* tablet */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    .header__content {
        width: 100%;
    }
    
    .nav {

        &--bottom {
            margin-bottom: 30px;
        }
    }
}
