.footer__content {
    @include flex ();
    align-items: center;
    justify-content: space-between;
    width: 1180px;

    &--bottom {
        justify-content: center;
    }

    &--404 {
        justify-content: center;
    }
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {
    .footer__content {
        flex-flow: column;
        width: 100%;
        align-items: flex-start;

        &--404 {
            align-items: center;
        }
    }
}

/* tablet */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .footer__content {
        flex-flow: column;
        width: 100%;
        align-items: flex-start;

        &--404 {
            align-items: center;
        }
    }
}

