.footer__content {
    @include flex ();
    align-items: center;
    justify-content: space-between;
    width: 1180px;

    &--bottom {
        justify-content: center;
    }
}

.copyright {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}