body {
    background: #000;
    width: 100%;
}

#body-404 {
    height: 100vh;
    @include flex();
    flex-flow: column;
    justify-content: space-between;
}

*{
    margin: 0;
    font-family: $font-stack;
    font-size: $basic-font-size;
    color: $white;
    scroll-behavior: smooth;
    line-height: 140%;
}

::selection {
    background: $dark-grey;
  }

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 80px 0 80px 0;

    &--header {
        padding: 25px 0 25px 0;
    }

    &--works {
        padding-top: 0;
    }

    &--1st-screen-internal {
        padding-top: 20px;
    }

    &--single-work {
        padding-top: 0;
    }

    &--fun {
        padding: 0;
    }
}

.link {
    text-decoration: none;
    color: $white;

    &--team {
        &:hover {
            border-bottom: 1px solid $white;
        }
    }
}

.note-field {
    @include flex();
    flex-flow: row;
    align-items: center;

    &__image {
        width: 22px;
        height: 22px;
        margin-right: 5px;

        &--1st-screen {
            background: url('../static/images/SVG/sprite.svg') no-repeat 0 -159px;
        }

        &--about {
            background: url('../static/images/SVG/sprite.svg') no-repeat -45px -159px;
        }

        &--contact {
            background: url('../static/images/SVG/sprite.svg') no-repeat -67px -159px;
        }

        &--internal {
            background: url('../static/images/SVG/sprite.svg') no-repeat -23px -159px;
        }

    }

    &__font {
        font-size: $decorative-font-size;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__svg {
        width: 473px;
        height: 165px;
        margin-bottom: 30px;

        &--eye {
            background: url('../static/images/SVG/404-1.svg') no-repeat;
            animation: blink 2.5s infinite;
            position: relative;
        }

        &--numbers {
            background: url('../static/images/SVG/404-0.svg') no-repeat;
            position: absolute;
        }
    }

    &--404 {
        flex-flow: column;
    }

}

@keyframes blink {
    90% {
      transform: none;
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(3px) scaleY(0.1)
    }
    100% {
      animation-timing-function: ease-out;
    }
  }

.headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;

    &--h1 {
        font-size: $h1-font-size;
        letter-spacing: 2px;
        padding-top: 10px;
        line-height: 100%;
        font-weight: 900;
    }

    &--h2 {
        font-size: $h2-font-size;
        letter-spacing: 2px;
        padding-top: 10px;
        line-height: 100%;
        font-weight: 900;
    }

    &--h3 {
        font-size: $h3-font-size;
        line-height: 100%;
        font-weight: bold;
    }

    &--skill {
        padding-bottom: 10px;
    }

    &--nav {
        padding-bottom: 0;
    }

    &--fun {
        color: $dark-grey;
        text-shadow: 2px 0 0 #353535, -2px 0 0 #353535, 0 2px 0 #353535, 0 -2px 0 #353535, 1px 1px #353535, -1px -1px 0 #353535, 1px -1px 0 #353535, -1px 1px 0 #353535;
    }

}

.small-decorative {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {

    .container {
        width: 100vw;
        padding: 80px 20px;
        box-sizing: border-box;

        &--header {
            padding: 10px 20px;
        }

        &--1st-screen {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &--1st-screen-internal {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        &--works {
            padding: 0 0 80px 0;
        }

        &--single-work {
            padding: 0 0 40px 0;
        }

        &--about {
            padding-top: 80px;
        }

        &--footer {
            padding: 40px 20px;
        }

        &--fun {
            padding: 0 20px 40px 20px;
        }

    }

    .headline {

        &--h1 {
            font-size: $h1-font-size-mobile;
        }

        &--h1-internal {
            font-size: $h1-font-size-mobile-internal;
        }

        &--h2 {
            font-size: $h2-font-size-mobile;
        }

        &--h3 {
            font-size: $h3-font-size-mobile;
        }

        &--work {
            width: 80%;
        }

    }

    .note-field {
        &__svg {
            width: 335px;
            height: 117px;
        }

        &__font {
            text-align: center;
        }
    }

    .text {
        width: 100%;
        padding: 0 20px;
    }

    .small-decorative {
        
        &--bottom {
            margin-bottom: 20px;
        }
    }
}

/* tablet */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .container {
        width: 100vw;
        padding: 80px 34px;
        box-sizing: border-box;

        &--header {
            padding: 15px 34px;
        }

        &--1st-screen {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &--1st-screen-internal {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        &--works {
            padding: 0 0 80px 0;
        }

        &--single-work {
            padding: 0 0 40px 0;
        }

        &--about {
            padding-top: 80px;
        }

        &--footer {
            padding: 40px 34px;
        }

        &--fun {
            padding: 0 34px 40px 34px;
        }

    }

    .headline {

        &--h1 {
            font-size: $h1-font-size-mobile;
        }

        &--h1-internal {
            font-size: $h1-font-size-mobile-internal;
        }

        &--h2 {
            font-size: $h2-font-size-mobile;
        }

        &--h3 {
            font-size: $h3-font-size-mobile;
        }

        &--work {
            width: 80%;
        }
    }

    .text {
        width: 100%;
        padding: 0 20px;
    }

    .small-decorative {
        
        &--bottom {
            margin-bottom: 20px;
        }
    }
}
