body {
    background: #000;
    width: 100%;
}

*{
    margin: 0;
    font-family: $font-stack;
    font-size: $basic-font-size;
    color: $white;
}

::selection {
    background: $dark-grey;
  }

.container {
    width: 1180px;
    margin: 0 auto;

    &--1st-screen {
        padding-top: 80px;
        padding-bottom: 65px;
    }
}

.link {
    text-decoration: none;
    color: $white;
}

.note-field {
    @include flex();
    flex-flow: row;

    &__image {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        background: url('../static/images/SVG/sprite.svg') no-repeat 0 -159px;
    }

    &__font {
        font-size: $decorative-font-size;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

.headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;

    &--h1 {
        font-size: $h1-font-size;
        letter-spacing: 2px;
        padding-top: 10px;
        padding-bottom: 60px;
        line-height: 100%;
        font-weight: 900;
    }

    &--h2 {
        font-size: $h2-font-size;
        letter-spacing: 2px;
        line-height: 100%;
        font-weight: 900;
    }

    &--h3 {
        font-weight: normal;
        font-size: $h3-font-size;
        line-height: 100%;
        font-weight: bold;
    }
}

.text {
    padding: 0 232px;
    padding-top: 56px;
    line-height: 32px;
}

:target:before {
    content:"";
    display:block;
    height:90px;
    margin:-90px 0 0;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {

.container {
    width: 100%;
    padding: 0 20px;
}

.headline {

    &--h1 {
        font-size: $h1-font-size-mobile;
        font-weight: 900;
        padding-top: 38px;
        padding-bottom: 38px;
    }

    &--h2 {
        font-size: $h2-font-size-mobile;
        padding-top: 38px;
    }

    &--h3 {
        font-weight: normal;
        font-size: $h2-font-size-mobile;
        padding-top: 28px;
        padding-bottom: 11px;
    }
}

.text {
    width: 100%;
    padding: 0 20px;
    padding-top: 32px;
    line-height: 24px;
}

:target:before {
    content:"";
    display:block;
    height:50px;
    margin:-50px 0 0;
}

}
