.work {
    width: 100%;
    @include flex ();
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0 60px 0;

    &:first-child {
        padding-top: 80px;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.left-info {

    &__top {
        width: 100%;
        @include flex ();
        flex-flow: row; 
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

    &__picture {
        width: 780px;
        height: 445px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    &__picture img {
        width: 100%;
        height: 100%;
    }

    &__notes {
        width: 100%;
        @include flex ();
        flex-flow: column; 
    }

}

.right-info {
    width: 280px;

    &__notes {
        padding-bottom: 30px;
    }
}

.note-headline {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.work-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $white;
    background: url('../static/images/SVG/sprite.svg') no-repeat -87px 0;
    
}

.hover-helper {

    cursor: pointer;

    &:hover .work-link {
        background: $white url('../static/images/SVG/sprite.svg') no-repeat -187px 0;
    }

    &:hover .left-info__picture img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {
    
    .work {
        padding: 50px 0 50px 0;
        flex-flow: column;
    
        &:first-child {
            padding-top: 80px;
        }
    
    }
    
    .left-info {

        width: 100vw;
    
        &__top {
            padding: 0 20px 0 20px;
            box-sizing: border-box;
            padding-bottom: 30px;
        }
    
        &__picture {
            width: 100vw;
            height: 100%;
            margin-bottom: 30px;
        }

        &__picture img {
            width: 100vw;
            height: 100%;
        }
    
        &__notes {
            padding: 0 20px 30px 20px;
            box-sizing: border-box;
            flex-flow: column; 
        }
    
    }
    
    .right-info {
        width: 100%;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
    
        &__notes {
            padding-bottom: 30px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    
}

/* tablet */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .work {
        padding: 50px 0 50px 0;
        flex-flow: column;
    
        &:first-child {
            padding-top: 80px;
        }
    
    }
    
    .left-info {

        width: 100vw;
    
        &__top {
            padding: 0 34px 0 34px;
            box-sizing: border-box;
            padding-bottom: 30px;
        }
    
        &__picture {
            width: 100vw;
            height: 100%;
            margin-bottom: 30px;
        }

        &__picture img {
            width: 100vw;
        }
    
        &__notes {
            padding: 0 34px 30px 34px;
            box-sizing: border-box;
            flex-flow: column; 
        }
    
    }
    
    .right-info {
        width: 100%;
        padding: 0 34px 0 34px;
        box-sizing: border-box;
    
        &__notes {
            padding-bottom: 30px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    
}
