.project-notes {
    width: 800px;
    margin-bottom: 60px;
}

.pictures {
    @include flex ();
    flex-flow: wrap;
    justify-content: space-between;

    &__full {
        width: 100%;
        height: 670px;
        margin-bottom: 20px;
        background-color: $dark-grey;

        &--first-1 {
            background: url("../static/images/images/portfolio/austin-wellness/first.jpg") no-repeat center;
            background-size: cover;
        }

        &--second-1 {
            background: url("../static/images/images/portfolio/austin-wellness/second.jpg") no-repeat center;
            background-size: cover;
        }

        &--third-1 {
            background: url("../static/images/images/portfolio/austin-wellness/third.jpg") no-repeat center;
            background-size: cover;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }

}

.bottom-notes {
    
    &__note {
        padding: 40px 0 60px 0;
    }

    &__disclaimer {
        opacity: .5;
    }
}

@media screen and (min-width: 320px) and (max-width: 568px) {

    .project-notes {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .pictures {
        flex-flow: column;
    
        &__full {
            width: 100%;
            height: 255px;
        }
    
    }

    .bottom-notes {
        padding: 0 20px;
        box-sizing: border-box;
    }
}
