.project-notes {
    width: 800px;
    margin-bottom: 60px;
}

.pictures {
    @include flex ();
    flex-flow: wrap;
    justify-content: space-between;

    &__full {
        width: 100%;
        height: 660px;
        margin-bottom: 30px;
        background-color: $dark-grey;

        /*page scroll*/
            @include flex ();
            &--page-scroll {
                background: url("../static/images/images/portfolio/austin-wellness/scroll.jpg") no-repeat center;
                background-size: cover;
                justify-content: center;
                align-items: center;
            }

        /*first work*/

        &--first-1 {
            background: url("../static/images/images/portfolio/austin-wellness/first.jpg") no-repeat center;
            background-size: cover;
        }

        &--second-1 {
            background: url("../static/images/images/portfolio/austin-wellness/second.jpg") no-repeat center;
            background-size: cover;
        }

        &--third-1 {
            background: url("../static/images/images/portfolio/austin-wellness/third.jpg") no-repeat center;
            background-size: cover;
        }
        &--fourth-1 {
            background: url("../static/images/images/portfolio/austin-wellness/fourth.jpg") no-repeat center;
            background-size: cover;
        }

        /*second work*/

        &--first-2 {
            background: url("../static/images/images/portfolio/axiom/first.jpg") no-repeat center;
            background-size: cover;
        }

        &--second-2 {
            background: url("../static/images/images/portfolio/axiom/second.jpg") no-repeat center;
            background-size: cover;
        }

        &--third-2 {
            background: url("../static/images/images/portfolio/axiom/third.jpg") no-repeat center;
            background-size: cover;
        }
        &--fourth-2 {
            background: url("../static/images/images/portfolio/axiom/fourth.jpg") no-repeat center;
            background-size: cover;
        }

        /*third work*/

        &--first-3 {
            background: url("../static/images/images/portfolio/united-hail/first.jpg") no-repeat center;
            background-size: cover;
        }

        &--second-3 {
            background: url("../static/images/images/portfolio/united-hail/second.jpg") no-repeat center;
            background-size: cover;
        }

        &--third-3 {
            background: url("../static/images/images/portfolio/united-hail/third.jpg") no-repeat center;
            background-size: cover;
        }
        &--fourth-3 {
            background: url("../static/images/images/portfolio/united-hail/fourth.jpg") no-repeat center;
            background-size: cover;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }

}

/*Mac*/

.mac {
    width: 75.8%;
    height: 80%;
    background: url("../static/images/images/portfolio/austin-wellness/mac.png") no-repeat center;
    background-size: contain;
    position: relative;
    display: inline-block;

    &__content-area {
        position: absolute;
        width: 75.6%;
        height: 80%;
        overflow-y: scroll;
        top: 3.6%;
        left: 12.1%;

        &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: #dfdfdf;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
          }

        &--img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
}
  
.bottom-notes {
    
    &__note {
        padding: 40px 0 60px 0;
    }

    &__disclaimer {
        opacity: .5;
    }
}

.other-works {
    @include flex ();
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 80px;

    &__item {
        @include flex();
        flex-flow: row;
        align-items: center;
        cursor: pointer;

        &:hover .icon {
                background: $white url('../static/images/SVG/sprite.svg') no-repeat -187px 0;
        }

        &--first {
            opacity: 0.1;
            cursor: default;

            &:hover .icon {
                background: $black url('../static/images/SVG/sprite.svg') no-repeat -87px 0;
        }
        }
    }
}

.other-work-link {
    text-decoration: none;
}

.icon {

    &--prev {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $white;
        background: url('../static/images/SVG/sprite.svg') no-repeat -87px 0;
        transform: scale(-1, 1);
        transform-origin: center;
        margin-right: 10px;
    }

    &--next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $white;
        background: url('../static/images/SVG/sprite.svg') no-repeat -87px 0;
        margin-left: 10px;
    }
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 568px) {

    .project-notes {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .pictures {
        flex-flow: column;
    
        &__full {
            width: 100vw;
            height: 55.7vw;
        }
    
    }

    .bottom-notes {
        padding: 0 20px;
        box-sizing: border-box;

        &__note {
            padding-bottom: 40px;
        }
    }

    .other-works {
        padding: 80px 20px 0;
        overflow: hidden;
    }

    /*Mac*/

    .mac {

        &__content-area {

            &::-webkit-scrollbar {
                width: 3px;
            }
        }
    }
}

/* tablet */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .project-notes {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 34px;
        box-sizing: border-box;
    }

    .pictures {
        flex-flow: column;
    
        &__full {
            width: 100vw;
            height: 55.6vw;
        }
    
    }

    .bottom-notes {
        padding: 0 34px;
        box-sizing: border-box;

        &__note {
            padding-bottom: 40px;
        }
    }

    .other-works {
        padding: 80px 34px 0;
        overflow: hidden;
    }

}


