@import "../static/fonts/fonts.css";

$font-stack: 'Red Hat Display', sans-serif;

$basic-font-size: 18px;

$h1-font-size: 100px;

$h1-font-size-mobile: 59px;

$h2-font-size: 100px;

$h2-font-size-mobile: 59px;

$h3-font-size: 50px;

$h3-font-size-mobile: 30px;

$decorative-font-size: 20px;

$black: black;

$dark-grey: #202020;

$white: white;